= label_tag "Scores:"
.player_scores
  - @players.each do |playah|
    = fields_for "win_info[score_win_entries_attributes[]]", ScoreWinEntry.new do |score_form|
      = score_form.hidden_field(:player_id, :value => "#{playah.id}")
      = label_tag "#{playah.name}'s score"
      = score_form.text_field :score
