- if @night
  = form_for([@night, @night.gameplays.build], remote: true) do |f|
    = f.hidden_field(:game_id, :value => "#{@game.id}")
    = f.label "Game:"
    = @game.name
    = f.label :Notes
    = f.text_field :notes
    = f.label :Players
    = f.select :player_ids, @night.players.collect {|x| [x.name, x.id]}, {}, :multiple => true
    = f.label :Finished
    = f.check_box :finished
    %br
    = f.submit "Add Gameplay"
