-if gameplayCount%3 == 1
  .row
- incGameplayCount  
.well.span3
  .game_name= gameplay.game.name
  .play_notes= gameplay.notes
  - gameplay.players.each do |playah|
    .player_name= playah.name
  - if gameplay.win_info
    = render(gameplay.win_info)
  - if session[:user_id]
    .delete_play= button_to 'Remove Play', night_gameplay_path(@night,gameplay), method: :delete, remote: true