.night_form
  = form_for @night do |f|
    - if @night.errors.any?
      #errorExplanation
        #{pluralize(@night.errors.count, "error")} prohibited this night from being saved:
        %ul
          - @night.errors.full_messages.each do |msg|
            %li= msg
    = f.label :Date
    = f.date_select :date
    #night_type
      = f.label :Type
      = f.select :night_type_id, NightType.all.collect {|x| [x.description, x.id]}
    #night_location
      = f.label :Location
      = f.select :location_id, Player.all.collect {|x| [x.name, x.id]}
    = f.label :Players
    = f.select :player_ids, Player.all.collect {|x| [x.name, x.id]}, {}, :multiple => true
    
    %br
    = f.submit
  :javascript
    $(document).ready(function() {
      night_type_visable()
    });
