.title All the Nights
 
%table
  %tr
    %th Date
    %th
    %th
    %th
 
  - @nights.each do |night|
    %tr
      %td= night.date
      %td= link_to 'Show', night_path(night)
      %td= link_to 'Edit', edit_night_path(night)
      %td= link_to 'Destroy', night_path(night), method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Game Night', new_night_path