.player_form
  = form_for @player do |f|
    - if @player.errors.any?
      #errorExplanation
        #{pluralize(@player.errors.count, "error")} prohibited this player from being saved:
        %ul
          - @player.errors.full_messages.each do |msg|
            %li= msg
    = f.label :Player
    = f.text_field :name
    %br
    = f.submit