%h2 All the Players
 
%table
  %tr
    %th Name
    %th
    %th
    %th
 
  - @players.each do |player|
    %tr
      %td= player.name
      %td= link_to 'Show', player_path(player)
      - if session[:user_id]
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player_path(player), method: :delete, data: { confirm: 'Are you sure?' }

- if session[:user_id]
  = link_to 'New Player', new_player_path