<!DOCTYPE html>
%html
  %head
    %title Gamenight
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  - controller_name_class = controller.controller_name
  %body{ class: controller_name_class }
    = nav_bar :brand => "Tuesday Night Gamers", :brand_link => root_path, :responsive => true do
      = menu_group :pull => :left do
        = menu_item "Home", root_path
        = menu_item :Players, players_path
        = menu_item :Games, games_path
        = drop_down "Filter" do
          = filter_dropdown
        - if session[:user_id]
          = drop_down "Admin" do
            = menu_item :Users, users_path
            = menu_item "New Night", new_night_path


      - if session[:user_id]  
        = menu_group :pull => :right do   
          = menu_item "Logout", logout_path, method: :delete
      - else
        = menu_group :pull => :right do
          = drop_down "Log In" do
            = form_tag "/login" do
              #login_dropdown
                %fieldset
                  %legend Please Log In
                  %div
                    = label_tag :name, 'Name:'
                    = text_field_tag :name, params[:name]
                  %div
                    = label_tag :password, 'Password:'
                    = password_field_tag :password, params[:password]
                  %div
                    = submit_tag 'Login'
    .container
      = yield