<!DOCTYPE html>
%html
  %head
    %title Gamenight
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  - controller_name_class = controller.controller_name
  %body{ class: controller_name_class }
    = nav_bar :brand => "Tuesday Night Gamers", :brand_link => root_path, :responsive => true do
      - menu_group do
        = menu_item "Home", root_path
        = menu_item "Players", players_path
        = menu_item "Games", games_path
    #columns
      #side
        %ul
          %li Filter: #{filter_links}
        - if session[:user_id]
          %ul
            %li=link_to :Users, users_path
            %li=link_to "New Night", new_night_path
            %li= button_to 'Logout', logout_path, method: :delete
        %table#games 
          = render(Game.all)
      #main
        = yield